*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.cabecalho{
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    padding: 8px;
    color: purple;
}

.imagem1{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.home{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.textoFinal{
    margin-top: 15px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.linha{
    margin-top: 15px;
}

.textoFinal hr{
    margin-left: 5px;
    margin-right: 5px;
}


/* Modalidades */

.textoPrincipal h1{
    font-size: 30px;
    margin: 15px 0px 20px 0;
    display: flex;
    justify-content: center;
}

.textoPrincipal p{
    display: flex;
    justify-content: center;
}

.textoPrincipal .espaco{
    margin: 18px 0px 15px 0;
    display: flex;
    justify-content: center;
}

.imagem{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.textos h4{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.textos h3{
    margin: 15px;
    display: flex;
    justify-content: center;
}

.texto2{
    display: flex;
    justify-content: center;
}

.textos p{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.textoFinalFretamento{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

/*Atendimento*/


.bolinha{
    display: flex;
    justify-content: left;
    margin: 14px 5px 2px 380px;
}

.bolinha input{
    margin-left: 10px;
    margin-right: 5px;
}

input{
    padding: 0 175px 0 0;
}

label{
    justify-content: right;
    align-items: center;
    text-align: right;
    width: 100px;
    display: inline-block;
    margin: 0 0 2px 390px;
}

select{
    width: 100px;
    display: inline-block;
}

.mensagem{
    padding: 30px 240px 30px 0;
}

.submit{
    padding: 2px;
    margin: 1px 0 10px 495px;
}

.mensagem{
    justify-content: right;
    align-items: center;
    text-align: right;
    width: 100px;
    display: inline-block;
    margin: 0 0 2px 494px;
}

form p{
    position: absolute;
    margin-left: 415px;
    margin-top: 35px;
}
